.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 40rem
}

.btn-spacing {
    margin-right: 0.5rem
}

.btn-spacing-left {
    margin-left: 0.5rem
}

.btn-row {
    margin-top: 2rem;
}

.form-control {
    width: 100% !important;
}

/*
.row {
    border: 1px solid red
}
*/